/** overriding dtm default styles */

.dtm-header, dtm-footer{opacity:.9;}
.dtm-header h1 {font-size:1em;font-weight:600;margin-top:-0.1em;}
.dtm-product h1 {margin-bottom: 0;}
.kc-features{display:block;margin:-1em 0 2em 2.7em;text-decoration:none;}
.kc-features i{font-style:normal;text-decoration:underline;}
.dtm-footer p{max-width:none;}

.dtm-content .dtm-grid-row:first-child{border-bottom:1px solid #ededed}
.dtm-product .dtv-bg-screens .txt-desc{margin-bottom:2em!important}
.dtm-product .bg-grey h2{margin-top:2em}
.dtm-product .bg-grey ul{padding-bottom:0}
.dtm-product .bg-grey ul li{color:#111}
.dtv-screens{display:block;margin-top:2em;overflow:hidden;text-align:center}
.chart-container{float:left;height:225px;margin:10px 39px 30px 40px;width:225px;font-size:20px}
.chart-wrapper{border:solid 0 #ccc;float:left;padding:5px;margin:0 1px 50px 0}
.chart-wrapper a{clear:both;display:block;position:relative;text-align:center;text-decoration:none;z-index:999;border-bottom:0!important}
.chart-wrapper a i{border-bottom:1px dotted}
.chart-intro{padding:1em 4em 2em}
.chart-integration{overflow:hidden;width:100%}
.chart-integration p{margin-bottom:1em}